<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
<div class="page-layout">
  <div class="login-layout">
    <img src="assets/img/logo.jpg" alt="" class="logo">
    <span class="header">Admin</span>
    <form class="example-form login-form" [formGroup]="LoginForm" (ngSubmit)="submit()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Enter your email..." formControlName="username">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Enter your password..." formControlName="password">
      </mat-form-field>
      <button class="btn-login">Log in</button>
    </form>
  </div>

</div>
