<mat-dialog-content class="w-full h-3/4 mat-typography dialog">
  <div class="page-layout">
    <div class="login-layout">
      <img src="assets/img/logo.jpg" alt="" class="logo">
      <span class="header">Add User</span>
      <form class="example-form login-form" [formGroup]="FormSignUp">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>UserName</mat-label>
          <input type="email" matInput placeholder="Enter your email..." formControlName="username">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput placeholder="Enter your name..." formControlName="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Address</mat-label>
          <input type="text" matInput placeholder="Enter your address..." formControlName="address">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="text" matInput placeholder="Enter your password..." formControlName="password">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>VerifyPassword</mat-label>
          <input type="text" matInput placeholder="Enter your password..." formControlName="verifypassword">
        </mat-form-field>
        <button class="btn-login">ADD</button>
      </form>
    </div>

  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="">Cancel</button>
</mat-dialog-actions>
