.dialog-space{
  @apply h-full;
  .title-dialog{
    @apply text-2xl;
    color: #fab1a0;
  }
  .section-add-product{
    @apply flex flex-row;
    justify-content: center;
    align-items: center;
    .section-pickimage{
      flex: 3;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .displayimg{
        min-height: 200px;
        height: auto;
        width: 200px;
        border: 2px solid black;
        margin-bottom: 10px;
      }
      .label{
        @apply text-lg text-white px-4 py-2 mt-3;
        background-color: #fab1a0;
        cursor: pointer;
        border-radius: 4px;
      }
      .pickimg{
        display: none;
      }
    }
    .section-info{
      flex: 7;
      height: 100%;
      .form{
        @apply flex flex-col justify-center items-center;
        mat-form-field{
          width: 70%;
        }
        .btn-login{
          @apply text-xl px-8 py-2 rounded-full text-white;
          background-color: #fab1a0;
        }
        .chosecategory{
          width: 70%;
          .listcategory{
            @apply my-3 grid grid-cols-3;
            input{
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}
